<!--SHOW INFORMATION ABOUT UPDATING CAFES-->
{% include "header.html" %}

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1581259021841-a16d7c2a777d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1157&q=80')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Update Cafe</h1>
                </div>
                <div class="sub-text">
                <p>Photo by <a href="https://unsplash.com/@louispaulin">Louis Paulin</a> on
                  <a href="https://unsplash.com/">Unsplash</a></p>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> IN PROGRESS</p>
        <p> So far, updating the opening times of a Cafe is only possible with use of the
          <a href="https://documenter.getpostman.com/view/28338737/2s946pYUWj" target="_blank">API</a>.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto text-center">
            <a class="btn btn-primary" href="{{ url_for ('show_overview') }}">Back to all Cafes</a>
        </div>
    </div>
</div>

<hr>
{% include "footer.html" %}